<h4>Statistics of data taken from {{allDaysBatchesData.startDate}} to {{allDaysBatchesData.endDate}}</h4>
<div class="row">
  <div class="col-lg-4">
      <span> Average {{revenuesAverage}}, Variance {{revenuesVariance}}, Mean Deviation: {{revenuesMeanDev}}, Standard Deviation {{revenuesStdDev}}</span>
      <table class="table table-striped">
<tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Revenue</th>
    <th>Quantity</th>
    <th>Profit</th>
 </tr>
<tr ng-repeat="batchDataElement in allDaysBatchesData.daysData track by $index">
    <th>{{batchDataElement.initialDate}}</th>
    <th>{{batchDataElement.endDate}}</th>
    <th>{{batchDataElement.totalRevenue}}</th>
    <th>{{batchDataElement.totalQuantity}}</th>
    <th>{{batchDataElement.totalProfit}}</th>
 </tr>
</table>
    </div>
   <div class="col-lg-8">
       <nvd3 options="rangeOptions" data="rangeData"></nvd3>
    </div>
</div>
