
.deliveredOrders {
    border-color:  crimson;
    color: #015502;
    background: rgb(240, 228, 240) ;
 }
.deliveringOrders {
    border-color:  lightblue;
    color: #015502;
    background: rgb(142, 208, 243) ;
}
.processingOrders {
    border-color:  yellowgreen;
    background: rgb(39, 236, 233) ;
    color: #502645;
}

.start {
     background:  #FFC125;
     color: #127869;
     border-radius: 2px ;
     border: 1px solid #EEB011; ;
     margin: 2px ;
     padding-left: 20px; 

 }

.inProgressProcessing {
    background: #1ca596 ;
     color: #FFC125;
     border-color: #EEB011; 
     padding:2px;
    }

.orderDelivered {
    background: #f58daa ;
     color: #7A0043;
     border-color: #7A004A; 
     padding:2px;
    }

.inProgressDelivering {
    background: #1e96fa ;
     color: #00437A;
     border-color: #004A7A; 
     padding:2px;
    }

.endedProcessing {
     background:rgb(153, 144, 144)  ;
     color: rgb(34, 27, 26)  ;
     border-color: rgb(95, 65, 65)  ;
     padding:2px;
   }

    .processingOrders   li {
        list-style-type: none ;
    }
    .deliveringOrders li {
        list-style-type: none ;
    }
    .deliveredOrders li {
        list-style-type: none ;
    }

 button {
    border: 2px solid #127869;
    margin-right:3px;
    border-radius: 4px;
    padding: 3px  ;
    font-size: medium;
    font-weight: 400;
 }
 li > button:disabled {
    border: 3px solid #127869;
    margin-right:3px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 400;
    opacity: 0.3;
 }
#startOrderDespatch {
    background: greenyellow;
    border: 3px outset olive ;
    margin-top:5px;
 }
 #summary > li:last-child {
     margin-top: 10px;
     border-top: 2px solid gray ;
     list-style-type: none ;
     width:95%;
    
 }